body{background-color:rgb(163, 206, 247);}
h1{color:brown;}
h2{color: rgb(51, 100, 18);}
a{color: rgb(85, 13, 13);}
img{width: 500px;}
.name1{font-size: 2rem;}
.name2{font-size: 15px;}
ul{list-style-type: square;}
img{margin-left: 100px;}
.name1{margin-left: 20px;}
.name3{margin-left: 100px;}
a:hover{color: gold;}
a{color: rebeccapurple;}
body{font-family: ;}
@font-face {
	font-family: 'Muller ExtraBold DEMO';
	src: url('fonts/muller_extrabold_demo.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/muller_extrabold_demo.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/muller_extrabold_demo.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/muller_extrabold_demo.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/muller_extrabold_demo.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/muller_extrabold_demo.svg#muller_extrabold_demo') format('svg'); /* Chrome < 4, Legacy iOS */
}
html{font-family: 'Muller ExtraBold DEMO',sans-serif;}